<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FriendList</servlet-name>
  	<display-name>FriendList</display-name>
  	<description></description>
  	<servlet-class>com.controller.FriendList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkForValidEmail</servlet-name>
  	<display-name>checkForValidEmail</display-name>
  	<description></description>
  	<servlet-class>com.controller.checkForValidEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>irctcGetRailwayStation</servlet-name>
  	<display-name>irctcGetRailwayStation</display-name>
  	<description></description>
  	<servlet-class>com.controller.irctcGetRailwayStation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>irctcGetCountry</servlet-name>
  	<display-name>irctcGetCountry</display-name>
  	<description></description>
  	<servlet-class>com.controller.irctcGetCountry</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getCountry</servlet-name>
  	<display-name>getCountry</display-name>
  	<description></description>
  	<servlet-class>com.controller.getCountry</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getState</servlet-name>
  	<display-name>getState</display-name>
  	<description></description>
  	<servlet-class>com.controller.getState</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getCity</servlet-name>
  	<display-name>getCity</display-name>
  	<description></description>
  	<servlet-class>com.controller.getCity</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FriendList</servlet-name>
  	<url-pattern>/FriendList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkForValidEmail</servlet-name>
  	<url-pattern>/checkForValidEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>irctcGetRailwayStation</servlet-name>
  	<url-pattern>/irctcGetRailwayStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>irctcGetCountry</servlet-name>
  	<url-pattern>/irctcGetCountry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getCountry</servlet-name>
  	<url-pattern>/getCountry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getState</servlet-name>
  	<url-pattern>/getState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getCity</servlet-name>
  	<url-pattern>/getCity</url-pattern>
  </servlet-mapping>
</web-app>
